.cache/
.tmp_versions/
.clangd
.clang-format
.Module.symvers.cmd
.modules.order.cmd
.module-common.o
..module-common.o.cmd
Module.symvers
modules.order
config
compile_commands.json

kernel/
net-next/
drivers/
include/
ovpn.cfg
