.cache/
.tmp_versions/
.clangd
.clang-format
.version
.Module.symvers.cmd
.modules.order.cmd
.module-common.o
..module-common.o.cmd
Module.symvers
modules.order
config
compile_commands.json

kernel/
kernel
net-next/
net-next
drivers/
include/
tests/ovpn-cli
ovpn.cfg
